<input type="text" [(ngModel)]="formSorcery" placeholder="Search Sorcery By Name">
<button (click)="getSorceryByName()">Search</button>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Cost</th>
        <th>Slots</th>
        <th>Effects</th>
        <th>Requires</th>
        <th>Image</th>
    </tr>
@for (t of currentSorcery.data; track $index) {
    <tr>
        <td>{{t.name}}</td>
        <td>{{t.description}}</td>
        <td>{{t.type}}</td>
        <td>{{t.cost}}</td>
        <td>{{t.slots}}</td>
        <td>{{t.effects}}</td>
        <td>@for (r of t.requires; track $index) {
            {{r.name}} {{r.amount}}
        }</td>
        <td><img height="100px" src="{{t.image}}"></td>
    </tr>
}
</table>