
<table>
    <tr>
        <th>Build Creator</th>
        <th>Build Name</th>
        <th>Armor</th>
        <th>Ash Of War</th>
        <th>Class</th>
        <th>Spells</th>
        <th>Talismans</th>
        <th>Weapons</th>
        <th></th>
    </tr>

    @for (b of allBuilds; track $index) {
        <tr>
            <td>{{b.buildCreator}}</td>
            <td>{{b.buildName}}</td>
            <td>
                <ul>
                    <li>{{b.armorHead}} </li>
                    <li>{{b.armorBody}}</li>
                    <li>{{b.armorHands}}</li>
                    <li>{{b.armorLegs}}</li>
                </ul>
            </td>
            <td>{{b.ashOfWar}}</td>
            <td>{{b.classes}}</td>
            <td>
                <ul>
                    <li>{{b.spell1}}</li>
                    <li>{{b.spell2}}</li>
                    <li>{{b.spell3}}</li>
                    <li>{{b.spell4}}</li>
                    <li>{{b.spell5}}</li>
                    <li>{{b.spell6}}</li>
                    <li>{{b.spell7}}</li>
                    <li>{{b.spell8}}</li>
                    <li>{{b.spell9}}</li>
                    <li>{{b.spell10}}</li>
                    <li>{{b.spell11}}</li>
                    <li *ngIf="checkifNull(b.spell12)">{{b.spell12}}</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>{{b.talisman1}}</li>
                    <li>{{b.talisman2}}</li>
                    <li>{{b.talisman3}}</li>
                    <li>{{b.talisman4}}</li>
                </ul> 
            </td>
            <td>
                <ul>
                    <li>{{b.weapon1}}</li>
                    <li>{{b.weapon2}}</li>
                </ul>
            </td>
            <td><button (click)="addToFavorites(b.id)">Add To Favorites</button></td>
        </tr>
        }


    
</table>