
table,th,td{
    border-style: solid;
    border-color: black;
    border-collapse:collapse;
    width: 100%;
}
button{
    padding: 15px 32px;
    font-size: 16px;
}

input{
    width: 80%;
    height: 80%
}