<button (click)="showList(4)">Classes</button>
<button (click)="showList(1)">Weapons</button>
<button (click)="showList(3)">Ashes Of War</button>
<button (click)="showList(2)">Armor</button>
<button (click)="showList(7)">Talismans</button>
<button (click)="showList(5)">Sorceries</button>
<button (click)="showList(6)">Incantations</button>



@switch (this.toggleList) 
{ @case (1) {
<app-weapons (addWeaponEvent)="addtoBuild($event)"></app-weapons>
} @case (2) {
<app-armor></app-armor>
} @case (3) {
<app-ashes-of-war></app-ashes-of-war>
} @case (4) {
<app-classes></app-classes>
} @case (5) {
<app-incantations></app-incantations>
} @case (6) {
<app-sorceries></app-sorceries>
} @case (7) {
<app-talismans></app-talismans>
}
}