<button (click)="showList(4)">Classes</button>
<button (click)="showList(1)">Weapons</button>
<button (click)="showList(3)">Ashes Of War</button>
<button (click)="showList(2)">Armor</button>
<button (click)="showList(6)">Talismans</button>
<button (click)="showList(5)">Spells</button>



@switch (this.toggleList) 
{ @case (1) {
<app-weapons (addWeaponEvent)="addtoBuild($event)"></app-weapons>
} @case (2) {
<app-armor (addArmorEvent)="addtoBuild($event)"></app-armor>
} @case (3) {
<app-ashes-of-war (addAshOfWarEvent)="addtoBuild($event)"></app-ashes-of-war>
} @case (4) {
<app-classes (addClassEvent)="addtoBuild($event)"></app-classes>
} @case (5) {
<app-spells (addSpellEvent)="addtoBuild($event)"></app-spells>
} @case (6) {
<app-talismans (addTalismanEvent)="addtoBuild($event)"></app-talismans>
}
}

