ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f1f1feb;  
    border: 2px outset #1f1f1f;
  
  }
  
  .something {
    float: left;
  }
  
  li a{
    display: block;
    color: #e4bf62;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Cinzel;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #384740;
  }
  
   asl-google-signin-button 
  {
   float: inline-end;
  margin-right: 5px;
  margin-top: 5px;
   
  }
