<br>
<input type="text" [(ngModel)]="formTalisman" placeholder="Search Talisman By Name">
<button (click)="getTalismanByName()">Search</button>
<button (click)="getRandomTalisman()">Get Random Talisman</button>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Effect</th>
        <th>Image</th>
        <th></th>
    </tr>
@for (t of currentTalisman.data; track $index) {
    <tr>
        <td>{{t.name}}</td>
        <td>{{t.description}}</td>
        <td>{{t.effect}}</td>
        <td><img src="{{t.image}}"></td>
        <td><button class="tablebutton" (click)="addTailisman(t.name)">Add</button></td>

    </tr>
}
</table>

