<br>
<input type="text" [(ngModel)]="formAshOfWar" placeholder="Search Ash of War By Name">
<button (click)="getAshOfWarByName()">Search</button>
<button (click)="getRandomAshOfWar()">Get Random Ash Of War</button>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Affinity</th>
        <th>Skill</th>
        <th>Image</th>
        <th></th>
    </tr>
@for (a of currentAshOfWar.data; track $index) {
    <tr>
        <td>{{a.name}}</td>
        <td>{{a.description}}</td>
        <td>{{a.affinity}}</td>
        <td>{{a.skill}}</td>
        <td><img src="{{a.image}}"></td>
        <td><button class="tablebutton" (click)="addAshOfWar(a.name)">Add</button></td>
    </tr>
}
</table>