<br>
<input type="text" [(ngModel)]="formWeapon" placeholder="Search Weapon By Name">
<select [(ngModel)]="weaponCategory">
    @for (t of allWeaponTypes; track $index) {
        <option value="{{t}}">{{t}}</option>
    }
    </select>
<button (click)="searchType()">Search</button>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Attack</th>
        <th>Defence</th>
        <th>Scaling</th>
        <th>Required Attributes</th>
        <th>Image</th>
        <th></th>
    </tr>
    @if(singleWeapon[1] != null){
        @for (weapon of singleWeapon; track $index) {
            @for (w of weapon.data; track $index) {
                @if (w.category.includes(weaponCategory) || weaponCategory == "All") {
            <tr>
                <td>{{w.name}}</td>
                <td>{{w.description}}</td>
                <td>{{w.category}}</td>
                <td>@for (a of w.attack; track $index) {
                    {{a.name}} {{a.amount}}
                }</td>
                <td>@for (d of w.defence; track $index) {
                    {{d.name}} {{d.amount}}
                }</td>
                <td>@for (s of w.scalesWith; track $index) {
                    {{s.name}} {{s.scaling}}
                }</td>
                <td>@for (r of w.requiredAttributes; track $index) {
                    {{r.name}} {{r.amount}}
                }</td>
                <td><img height="200px" src="{{w.image}}"></td>
                <td><button (click)="addWeapon(w.name)">Add</button></td>
            </tr>
    }
}
        }
    }@else{
        @for (weapon of currentWeapon; track $index) {
            @for (w of weapon.data; track $index) {
                @if (w.category.includes(weaponCategory) || weaponCategory == "All") {
            <tr>
                <td>{{w.name}}</td>
                <td>{{w.description}}</td>
                <td>{{w.category}}</td>
                <td>@for (a of w.attack; track $index) {
                    {{a.name}} {{a.amount}}
                }</td>
                <td>@for (d of w.defence; track $index) {
                    {{d.name}} {{d.amount}}
                }</td>
                <td>@for (s of w.scalesWith; track $index) {
                    {{s.name}} {{s.scaling}}
                }</td>
                <td>@for (r of w.requiredAttributes; track $index) {
                    {{r.name}} {{r.amount}}
                }</td>
                <td><img height="200px" src="{{w.image}}"></td>
                <td><button (click)="addWeapon(w.name)">Add</button></td>
            </tr>
        }
    }

    }
}
</table>

