/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Gideon+Roman&d");

html {
  /* The image used */
  background-image: url("https://helios-i.mashable.com/imagery/articles/01rjUrZQSXTJZGwQHrNBGLB/hero-image.fill.size_1200x1200.v1646084109.jpg");

  /* Full height */
  min-height: 100%;

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

table,
td,
th {
  border: 2px solid;
  border-color: #6b7457;
  background-color: #0a1b1a7e;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  text-align: center;
  font-size: auto;
  color: #e2dfb7;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
li {
  text-align: left;
}

img {
  height: 50%;
  width: 50%;
}
button {
  font-family: Cinzel;
  background-color: #1f1f1feb;
  color: #e4bf62;
  padding: 10px 25px;
  font-size: 16px;
}

.tablebutton {
  background-color: #e4bf62b9;
  border-color: #0e0e0d;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-size: 22px;
  font-style: normal;
  color: #1f1f1feb;
}

span {
  font-weight: bolder;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 17px;
}

input {
  background-color: rgba(255, 255, 255, 0.568);
  border: 2px solid #0a1b1a7e;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  color: #1f1f1feb;
}

select,
option {
  background-color: #1f1f1feb;
  border: 2px solid #0a1b1a7e;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  color: #e4bf62;
  box-shadow: #0a1b1a7e;
}
h1{
    font-family: Cinzel;
    /* font-family: "EB Garamond", serif; */
    font-optical-sizing: auto;
    font-style: normal;
    color: #1d3233;
    text-decoration: underline;
}
h1::selection {
    color: rgb(3, 21, 100);
    background-color: black;
  }
  